:root {
  --active-note: #ffffff;
  --active-note-rgb: 158, 0, 255;
  --foreground-text: #939393;
  --foreground-text-rgb: 240, 110, 47;
  --internal-link-rgb: 245, 164, 134;
  --background: #30435d;
}

.bg-foreground-text {
  background-color: var(--foreground-text);
}

.b--foreground-text {
  border-color: var(--foreground-text);
}

.foreground-text {
  color: var(--foreground-text);
}

.bg-background {
  background-color: var(--background);
}

.b--background {
  border-color: var(--background);
}